@model GeolocationResult



<div class="row align-items-md-stretch">
    <div class="col-md-6 ">
        <div class="h-100 p-5 rounded-3 geoInfo">
            <p>
                <span>IP : </span>
                <span>@Model.Query</span>
            </p>
            <p>
                <span>Country : </span>
                <span class="ipbgstyle">@Model.Country - @Model.CountryCode</span>
            </p>
            <p>
                <span>Region : </span>
                <span>@Model.RegionName</span>
            </p>
            <p>
                <span>City : </span>
                <span>@Model.City</span>
            </p>
            <p>
                <span>ISP : </span>
                <span class="ipbgstyle">@Model.Isp</span>
            </p>
            <p>
                <span>TimeZone : </span>
                <span>@Model.Timezone</span>
            </p>
            <p>
                <span>ZIP : </span>
                <span>@Model.Zip</span>
            </p>
            <p>
                <span>LAT : </span>
                <span>@Model.Lat</span>
            </p>
            <p>
                <span>LON : </span>
                <span>@Model.Lon</span>
            </p>

        </div>
    </div>
    <div class="col-md-6">
        <div class="h-100 p-5 border rounded-3" id="map">
        </div>
    </div>
</div>

@if (!Model.FromIndex)
{
    <script>
        window.onload = initMap(@Model.Lat, @Model.Lon);
    </script>
}


